<!--
  routerLink is used in place of href to work with the Angular Router.
  Anything between the router-outlet tags will dynamically render based on the route.
  The navigation controls MUST be outside of the outlet.
-->
<header>
  <div class="logo-box">
    <!-- background-image in styles.scss to go here -->
    <!-- router links will work on any valid item, but are usually used for a tags or buttons -->
  </div>
  <div class="link-box">
    <button routerLink="home">Home</button>
    <button routerLink="admin">Admin</button>
  </div>
</header>
<!-- Content in router-outlet rendered based on Angular Router -->
<router-outlet></router-outlet>